@import url('../fonts/fonts.css');

/* Background général */
body {
    background-color: #323339;
    /* Remplacez par votre couleur hexadécimale */
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
    color: white
}

/* Button 1 */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espacement entre l'icône et le texte */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Menu de navigation */
.navbar {
    background-color: #2c2d32;
    /* Couleur plus foncée pour le menu */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar .links {
    display: flex;
    gap: 20px;
}

/* Icônes SVG */
.navbar .links a img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    filter: invert(1); /* Rend l'icône blanche pour s'adapter au fond sombre */
}

.navbar .links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .links a:hover {
    text-decoration: underline;
}

/* Bouton téléchargement du fichier des suppressions */
.navbar .links a.dl {
    color: white;
    background-color: #41bd33;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .links a.dl:hover {
    transform: scale(1.05); /* Légère mise en avant */
}

/* Bouton settings : Open popup*/
.navbar .links a.settings {
    color: white;
    background-color: #bd3c33;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .links a.settings:hover {
    transform: scale(1.05); /* Légère mise en avant */
}

.navbar .info {
    color: white;
    font-size: 14px;
}

/* Div centrée en bas */
.floating-div {
    position: fixed;
    bottom: 20px; /* Distance du bas de la fenêtre */
    left: 50%; /* Position horizontale au milieu */
    transform: translateX(-50%); /* Centrer horizontalement */
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    background-color: #2c2d32; /* Couleur de fond */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Boutons stylés avec icônes */
.floating-div a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espacement entre l'icône et le texte */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Icônes SVG */
.floating-div a img {
    width: 20px;
    height: 20px;
    filter: invert(1); /* Rend l'icône blanche pour s'adapter au fond sombre */
}

/* Bouton rouge : Delete */
.floating-div a.delete {
    background-color: #e74c3c;
}

.floating-div a.delete:hover {
    transform: scale(1.05);
}

/* Bouton gris : Undo */
.floating-div a.undo {
    background-color: #7f8c8d;
}

.floating-div a.undo:hover {
    transform: scale(1.05);
}

/* Bouton gris : Random */
.floating-div a.random {
    background-color: #e7aa00;
}

.floating-div a.random:hover {
    transform: scale(1.05);
}

/* Bouton bleu : Keep */
.floating-div a.keep {
    background-color: #3498db;
}

.floating-div a.keep:hover {
    transform: scale(1.05);
}

/* Settings view */
.popupSettings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenu de la popup */
.popupSettings-content {
    background: #323339;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Cacher la popup par défaut */
.hiddenSettings {
    display: none;
}

/* Button : Exporter (Svg) */
.popupSettings-content a.exportButton  {
    background-color: #1f84c7;
    margin-bottom: 5px;
}

.popupSettings-content a.exportButton:hover {
    transform: scale(1.05);
}

/* Button : Importer (Svg) */
.popupSettings-content a.importButton  {
    background-color: #ce7d13;
    margin-bottom: 20px;
}

.popupSettings-content a.importButton:hover {
    transform: scale(1.05);
}

/* Button : Delete DB */
.popupSettings-content a.deleteDbButton  {
    background-color: #e74c3c;
    margin-bottom: 20px;
}

.popupSettings-content a.deleteDbButton:hover {
    transform: scale(1.05);
}

/* Button : Close */
.popupSettings-content a.closeSettings  {
    background-color: transparent;
    border-color: white;
}

.popupSettings-content a.closeSettings:hover {
    transform: scale(1.05);
}

/* First join : Popup to import the file */
/* Style pour le fond opaque */
.popupImport {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenu de la popup */
.popupImport-content {
    background: #323339;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* Cacher la popup par défaut */
.hiddenImport {
    display: none;
}